/* ----------------------------------------------------------
    Wpteam
------------------------------------------------------------*/
.show-more-loader{
	background:url('../images/ajax-loader-b.gif');
	display: block;
	width: 128px;
	height: 10px;
	text-align: center;
	margin: 0 auto;
}